<div class="container">
<h1>Starting Out in Gamemaker</h1>
<hr>
<h3>Scripting Concepts</h3>
<a  href ="GMS2Beginner/Misc/NamingConvention.html">Project Naming Conventions</a>
<br>
<a  href ="GMS2Beginner/CoordinateSystems/CartesianCoordinateSystem.html">Cartesian Coordinate System</a>
<br>
<a  href ="GMS2Beginner/CoordinateSystems/PolarCoordinateSystem.html">Polar Coordinate System</a>
<br>
<a  href ="GMS2Beginner/Events/CreateStepEvent.html">Create and Step Event Types</a>
<br>
<a  href ="GMS2Beginner/ProgrammingConcepts/Conditional-If.html">Conditional If Statement</a>
<br>
<a  href ="GMS2Beginner/ProgrammingConcepts/Functions.html">Functions</a>
<br>
<a  href ="GMS2Beginner/ProgrammingConcepts/Variables.html">Variables</a>
<br>
<a  href ="GMS2Beginner/ProgrammingConcepts/IncrementDecrimentOperators.html">Increment and Decriment Operator</a>
<hr>
<h2>Introduction to GameMaker Studio II</h2>
<hr>
<a href="GMS2Beginner/MovingThreeWays/MovingThreeWays_1.html">Moving Three Ways</a>
<br />
<a href="GMS2Beginner/FixingMovingThreeWays/FixingMovingThreeWays_1.html">Fixing Problems with Moving Three Ways</a>
<hr>
<h2>First Game</h2>
<a href="GMS2Beginner/FirstGame/SpaceRocks_1.html">Space Rocks </a>
<br>
<a href="GMS2Beginner/ExtendingFirstGame/SpaceRocksExtended_1.html"> Extending Space Rocks</a>
<hr>
<h3>Classic Arcade Genres</h3>
<a href="GMS2Intermediate/ScrollingShooter/ScrollingShooter_1.html"> WW2 Scrolling Shooter</a>
<hr>
<h3>Sprites & Animation</h3>
<a href="GMS2Intermediate/ArtOverview/ArtOverview_1.html"> Bitmaps & Tiles</a><br>
<a href="GMS2Intermediate/ArtOverview/SpritesAndAnimation_1.html"> Sprites & Animation</a>
<hr>
<h3>Adventure Game</h3>
<a href="GMS2Intermediate/AdventureGame/AdventureGame_1.html"> Adventure Game</a><br>
<hr>
<h3>Finish Ball Bounce Prototype</h3>
<a href="GMS2Beginner/SimpleMechanic/SimpleMechanic_9.html"> Finish Ball Bounce</a><br>
<hr>
<!-- <h3>Pac-Man Style Game</h3>
<a href="GMS2Beginner/PacManStyleGame/PacManStyleGame_1.html"> Pac-Man Style Game</a><br>
</div> -->



